h1 {
    text-shadow: 2px 2px 2px gray;
    letter-spacing: 2px;
    word-spacing: 15px;
}
p {
    text-transform: uppercase;
    text-decoration: underline;
    text-indent: 30px;
    line-height: 3;
}

a {
    text-decoration: none;

}

div {
    display: inline;
}

.tipoDisplay {
    visibility: hidden;
}